<li class="list-group-item">
  <h3>{{ firstPost }}</h3>
  <p>Lorem ipsum</p>
  <button class="btn btn-success">Love it</button>
  <button class="btn btn-danger">Don't love it</button>
</li>
<li class="list-group-item">
  <h3>{{ twoPost }}</h3>
  <p>Lorem ipsum</p>
  <button class="btn btn-success">Love it</button>
  <button class="btn btn-danger">Don't love it</button>
</li>
<li class="list-group-item">
  <h3>{{ threePost }}</h3>
  <p>Lorem ipsum</p>
  <button class="btn btn-success">Love it</button>
  <button class="btn btn-danger">Don't love it</button>
</li>
